body {
    margin: 0;
    padding-top: 90px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
}
form {
    padding: 0;
    margin: 0;
}
.anchor-style{
    border: none;
    background: none;
    font-size: 16px;
}

/* HEADER CSS */
.site-header { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 88px;
    z-index: 1050;
}

/* FOOTER CSS */
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
.footer {
    padding: 2rem 0;
    background: #3b3b3b;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-sm{
    width: 70%;
    max-width: 800px;
}
.outer-box{
    background-color: #9EDF9C;
    min-width: 500px;
}
.inner-box{
    background-color: white;
}
.image-admin-css{
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.header-width{
    width: 62px;
}
.index_search{
    width: 350px;
}
.img-container{
    width: 300px;
    height: 300px;
}
.lbl-width{
    width: 70px;
}
.detail-width{
    width: 380px;
}
.detail-width2{
    width: 85%;
    max-width: 1000px;
}
.inner-detail-width{
    min-width: 420px;
}

.btn, .enlarge {
    transition: transform 0.1s ease; /* Smooth animation */
}

.navbar-toggler {
    z-index: 100;
}
.navbar-collapse {
    background-color: rgba(248, 249, 250, 1);
}
.dropdown-item:active{
    background-color: #3b3b3b;
}
.dropdown-item.active{
    background-color: #3b3b3b;
}

/* IFRAME */
iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.text-box{
    text-align: justify;
    text-justify: inter-word;
}

p{
    text-indent: 3em;
    font-size: 18px;
}
.reference{
    font-size: 12px;
}



